.tit {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 0px;
	font-size: 40px;
	padding-bottom: 0px;
	


}

.split {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	color: #424642;
	margin-right: 20px;

}
.con{
	padding-top: 5px;
	
	
}

.informacion{
	color: rgb(23, 5, 5);
	padding-bottom: 0px;
}

.detalle {
	margin-left: 10px;
}

.imgg {
	width: 450px;
	height: 320px;
	border-radius: 20px;
}

@media (min-width: 65em) {
	.split {
		flex-direction: row;
		margin-left: 20px;
		margin-right: 20px;

	}
	.informacion{
		color: rgb(23, 5, 5);
		padding-bottom: 20px;
	}

	.detalle {
		margin-left: 50px;
	}

	.imgg {

		width: 600px;
		height: 500px;
	}
	.con{
		padding-top: 10px;
		
	}
	.tit{
		padding-bottom: 15px;
		padding-top: 20px;
	}
}