.description {
	color: red;
}

.title {
	font-size: 30px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.containers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #c3c5c5;
	justify-content: center;
	gap: 20px;
	text-align: center;


}

.containers img {
	opacity: 95%;
}

.containers img:hover {
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
	opacity: 1;
	cursor: pointer;
}

.sep {
	background-color: rgb(228, 227, 227);
	margin-bottom: 20px;
}



@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}